.FooterNewsletter {
  width: 30%;

  &__check {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;

    input {
      width: 10%;
    }
  }

  &__payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--item {
      width: 20%;
      height: 10%;
      margin: 0 1rem 0 0;

      &:nth-of-type(2),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        width: 10%;
      }
    }

    &--image {
      width: 100%;
      height: 100%;
    }
  }
}
