$text-color: black;
$text-color-hover: #14468d;

.MainCategory {
  margin: 1rem;
  width: 17%;
  min-width: 15%;
  text-align: center;
  font-size: 1.2rem;

  &:hover &__text {
    color: $text-color-hover;
  }

  &__image {
    width: 100%;
    height: 20rem;
    border-radius: 0.8rem;

    img {
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__text {
    padding-top: 2rem;
    color: $text-color;
    transition: color 0.3s;
  }
}
