.Products {
  text-align: center;

  &__title {
    color: #0070e0;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
  }
}
